.appform {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.title {
  margin-top: 0.5%;
  margin-bottom: 2%;
}

.headline {
  margin-bottom: 3%;
}

.btnap {
  margin-top: 1%;
  margin-bottom: 0.5%;
  border-radius: 4px;
  background-color: rgb(167, 197, 197); /* Green */
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.btnap {
  transition-duration: 0.4s;
}

.btnap:hover {
  background-color: rgba(162, 190, 190); /* Green */
  color: rgb(138, 143, 143);
}

.btnap:disabled {
  background-color: rgb(167, 197, 197, 0.5); /* Green */
  color: rgb(138, 143, 143);
}
