input {
  margin-top: 20%;
}

.input-group {
  padding-left: 5%;
  padding-right: 5%
}

.card {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.btn {
  margin-top: 5%;
  margin-bottom: 3%;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}
