/* footer {
    background-color: aliceblue;
    color: #FFFFFF;
    font-size:.8em;
    margin-top:50px;
    padding-top: 50px;
    padding-bottom: 10px;
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    z-index: 1;
    } */