#info {
  margin-left: 10%;
  text-align: left;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  font-size: 13px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.something {
  float: right;
  width: 50%;
  margin: auto;
  margin-top: 5% ;
  padding: 5px;
  font-size: 9px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.responsive {
  width: 100%;
  height: auto;
  margin-left: 25%;
}

.breathe {
  margin-bottom: 5%;
  font-size: 26px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}
