.nav {
  margin-bottom: 55px;
}
.navbar {
  background: transparent;
}

.navbar-light .nav-item .nav-link {
  color: black;
}

.navbar-light .navbar-brand {
  color: black !important;
}

.navbar.scrolled {
  background-color: rgb(236, 196, 149) !important;
  color: black !important;
  transition: 500ms ease;
}

@media only screen and (max-width: 480px) {
  .navbar {
    background-color: rgb(236, 196, 149);
    color: black !important;
    transition: 500ms ease;
  }

  .nav {
    margin-bottom: 115px;
  }
  .navbar-light .navbar-brand {
    color: black !important;
  }
}

/* Scroll color options */
.navbar-light.scrolled .navbar-brand {
  color: black;
}

/* .navbar-light .nav-item .nav-link{
        color: #ffffff;
}  */

.navbar-light .navbar-brand {
  color: #ffffff;
}
