.nav {
  margin-bottom: 55px;
  
}
.navbar {
  background:transparent;
}

.navbar.scrolled {
  background-color: white!important;
  color: black!important;
  transition:500ms ease;
}








/* Scroll color options */
.navbar-light.scrolled .navbar-brand{
  color: black;
} 

/* .navbar-light .nav-item .nav-link{
        color: #ffffff;
}  */

.navbar-light .navbar-brand{
        color: #ffffff
}